body{
     background-image: linear-gradient(to left, #05000d, #1c0f63);
}

.clear-mode{
    background-color: #f5f5f5;
    background-image: none;
}
.clear-mode h1 ,.clear-mode button{
    color: #111111;
}
